#hed
{
  font-size : 3em ; 
}

.p
{
  font-size : 25px;
  position: absolute ;
}

.que
{
  font-size : 3em;
}

.opts {
  margin-bottom: 5px;
  display: inline-block;
  font-style : bold ;
  font-size: 35px ;
}
.opts label{
  display: block;
  padding : 8px; 
  margin : 8px;
  border-radius : 4px ; 
  border-color : #b3d1ff ;
  border-style : solid ;
  background-color : #cce0ff ;
}

button
{
 position : absolute ;
 background-color: #ffb366;
 border-color : #ffd966 ;
 padding: 10px;
 font-size: 2em;
 border-radius: 4px;
 margin : 20px ;
 width : 25% ; 
 right : 20% ;
}
button:hover {
  background-color: #ffd966;
 // color: white;
}
button:focus
{
  background-color: #ffd966 ;
  border-color : #ffb366 ;
}

#sub
{
  left : 20% ;
  display: none;
  //background-color: red ;
}

.box
{
  position : relative ;
  border-bottom-style: solid ;
  border-top-style : solid ;
  padding: 40px ;
  background-color : #e6f0ff ;
  height: 22em ;
}

.result   
{
  color : black ;
  //width : 10% ;
  height : 40px ;
  margin : auto ;
  background-color : lightblue ;
  //border : solid ;
  text-align : center ;
  padding: 10px;
  font-size: 2em;
  border-radius: 4px;
  display : none ;
}

.queNo
{
 font-size : 25px ;
 text-align : right ;
}

.resBox
{
 //margin : 50px ;
 position : relative ;
 padding : 10px ;
 //border : solid ;
 height : 100px ;
}

#myImg
{
 font-size : 15px ;
 margin-top : 20px ;
 margin : auto ;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}

